Repository cncf/mentoring, pull requests merged in 2020-04, with the labels that each got.

#182 [WIP] Update the README for Google Season of Docs 2020
  seasonofdocs/README.md
Labels: season of docs

#184 Q1 blog post links added
  communitybridge/2020/q1/README.md
  communitybridge/README.md
Labels: community bridge

#185 GSoC historical data added
  README.md
Labels: enhancement, summer of code

#186 Add Distributed Tracing support to Linkerd Mentorship project
  communitybridge/2019/README.md
Labels: community bridge

#187 Total stats added
  README.md
Labels: enhancement
