Repository cncf/mentoring, pull requests merged in 2023-02, with the labels that each got.

#803 Add handles and emails
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#804 Add NATS project idea for LFX
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#801 Add LFX proposal for Parquet in PromQL
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#805 Add project ideas for Cortex
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#806 Add Kubescape suggestions
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#792 buildpacks: propose arm/multi-arch project
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#802 Add TestGrid UI to LFX Mentorship Ideas for 2023
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#809 docs: updated CAPA/CAPG mentor details
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#808 Add emails for some Knative mentors
  summerofcode/2023.md
Labels: summer of code, 2023

#798 Add project ideas for Harbor
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#796 Add Notary and ORAS project ideas to lfx-mentorship
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#807 Moving proposals to accepted (LFX Mentorship 2023 term 1: March - May)
  lfx-mentorship/2023/01-Mar-May/README.md
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#780 LFX - CNCF Landscape UX UI improvement
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#811 Moving proposals to accepted (LFX Mentorship 2023 term 1: March - May)
  lfx-mentorship/2023/01-Mar-May/README.md
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#815 Moving proposals to accepted (LFX Mentorship 2023 term 1: March - May)
  lfx-mentorship/2023/01-Mar-May/README.md
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#816 LFX 2023 01-Mar-May admin updates
  lfx-mentorship/2023/01-Mar-May/README.md
  lfx-mentorship/README.md
Labels: lfx mentorship, 2023, Term 1: March-May

#786 GSOC: KubeVela IDE Plugins
  summerofcode/2023.md
Labels: summer of code, 2023

#782 Add more Knative GSoC 23 ideas
  summerofcode/2023.md
Labels: summer of code, 2023

#795 GSOC: Jaeger
  summerofcode/2023.md
Labels: summer of code, 2023

#817 removing toc from GSoC 2023 proposed ideas page
  summerofcode/2023.md
Labels: summer of code, 2023

#810 Added Strimzi GSoC related idea
  summerofcode/2023.md
Labels: summer of code, 2023

#818 updating Jaeger idea formating (GSoC 2023 idea).
  summerofcode/2023.md
Labels: summer of code, 2023

#823 Adding Spring cloud native dev env mentorship
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#824 Moving proposals to accepted (LFX Mentorship 2023 term 1: March - May)
  lfx-mentorship/2023/01-Mar-May/README.md
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#822 LFX Spring 2023: meshery, tag-network, smp
  lfx-mentorship/2023/01-Mar-May/README.md
Labels: lfx mentorship, 2023, Term 1: March-May

#826 Update README.md
  lfx-mentorship/2023/01-Mar-May/README.md
Labels: lfx mentorship, 2023, Term 1: March-May

#827 updating ToC links in lfx 2023 01-Mar-May
  lfx-mentorship/2023/01-Mar-May/README.md
Labels: lfx mentorship, 2023, Term 1: March-May

#828 Reformatting LFX 2023 01-Mar-May README for easier access to key info
  lfx-mentorship/2023/01-Mar-May/README.md
Labels: lfx mentorship, 2023, Term 1: March-May

#821 Add WasmEdge GSoC 2023 project idea
  summerofcode/2023.md
Labels: summer of code, 2023

#800 Add Konveyor Move2Kube project proposals for LFX Mentorship
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#819 GSOC: Add two ideas for KubeVela
  summerofcode/2023.md
Labels: summer of code, 2023

#830 Moving proposals to accepted (LFX Mentorship 2023 term 1: March - May)
  lfx-mentorship/2023/01-Mar-May/README.md
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#829 Add 2 mentors for LFX Cortex project
  lfx-mentorship/2023/01-Mar-May/README.md
Labels: lfx mentorship, 2023, Term 1: March-May

#814 GSOC: KubeVela HA Enhancement-Cluster Meta Backup&Restore
  summerofcode/2023.md
Labels: summer of code, 2023

#820 GSOC: Add three ideas for Curve
  summerofcode/2023.md
Labels: summer of code, 2023

#834 GSOC: add OpenFeature project ideas for GSoC 23
  summerofcode/2023.md
Labels: summer of code, 2023

#835 Add project ideas for google summer of code for Armada
  summerofcode/2023.md
Labels: summer of code, 2023

#832 GSOC: add Keptn project ideas for GSoC 23
  summerofcode/2023.md
Labels: summer of code, 2023

#833 setting up CNCF LFX Mentorship 2023 Terms 02 & 03
  .github/settings.yml
  lfx-mentorship/2023/02-Jun-Aug/README.md
  lfx-mentorship/2023/02-Jun-Aug/project_ideas.md
  lfx-mentorship/2023/03-Sep-Nov/README.md
  lfx-mentorship/2023/03-Sep-Nov/project_ideas.md
Labels: lfx mentorship, 2023

#842 GSoC: extend OpenFeature project description
  summerofcode/2023.md
Labels: summer of code, 2023

#836 GSoC: Add proposals for Keptn
  summerofcode/2023.md
Labels: summer of code, 2023

#839 GSoC: Add Proposal for KeptnTasks Repository
  summerofcode/2023.md
Labels: summer of code, 2023

#844 GSoC: Add Proposal for KubeBuilder - Helper to upgrade projects
  summerofcode/2023.md
Labels: summer of code, 2023

#847 GSoC 2023: add CRI-O proposals
  summerofcode/2023.md
Labels: summer of code, 2023

#850 Organizing GSoC 2023 ideas list
  summerofcode/2023.md
Labels: summer of code, 2023

#783 add CNB gsoc 2023 projects
  summerofcode/2023.md
Labels: summer of code, 2023
