Repository cncf/mentoring, pull requests merged in 2023-12, with the labels that each got.

#1103 added blog for the LFX second Term
  programs/lfx-mentorship/README.md
Labels: lfx mentorship

#1104 adding listing of successful 2023 LFX Term 3 projects
  README.md
  programs/README.md
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1106 meeting-minutes-2023-12-12
  mentoring-wg/2023-meeting-minutes.md
Labels: 2023
