Repository cncf/mentoring, pull requests merged in 2023-03, with the labels that each got.

#853 Fixed Automate labelling issue for fork PRs #559
  .github/labeler.yml
  .github/workflows/prlabeler.yml
Labels: enhancement

#856 fix date
  seasonofdocs/README.md
Labels: summer of code, 2023

#858 Updating prlabeller.yml
  .github/labeler.yml
Labels: enhancement

#868 Proposed GSoC project from Prometheus
  summerofcode/2023.md
Labels: summer of code, 2023

#870 Add task for TUF content addressable support
  summerofcode/2023.md
Labels: summer of code, 2023

#873 Update issue link for Knative NetworkPolicy support project
  summerofcode/2023.md
Labels: summer of code, 2023

#867 add kubearmor projects for gsoc 2023
  summerofcode/2023.md
Labels: summer of code, 2023

#879 Add Cilium GSoC idea
  summerofcode/2023.md
Labels: summer of code, 2023

#878 2023-03-14 meeting minutes
  TAGCS-Mentoring-WG/2023-meeting-minutes.md
Labels: 2023

#882 update(summerofcode/2023.md): add falco projects
  summerofcode/2023.md
Labels: summer of code, 2023

#871 GSoC admin guide
  mentoring-wg/gsoc-org-admin-guide.md
  mentoring-wg/org-admins.md
Labels: summer of code

#883 GSoC: Add Proposal for KubeBuilder - Phase 2 Plugins API
  summerofcode/2023.md
Labels: summer of code, 2023

#885 Add GSoC tasks for in-toto
  summerofcode/2023.md
Labels: summer of code, 2023

#872 Update GSoC admins list
  summerofcode/README.md
Labels: summer of code

#893 Add another Jaeger project
  summerofcode/2023.md
Labels: summer of code, 2023

#906 2023-03-28 meeting minutes
  TAGCS-Mentoring-WG/2023-meeting-minutes.md
Labels: 2023
