Repository cncf/mentoring, pull requests merged in 2023-08, with the labels that each got.

#1063 remove armada project
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1060 Enrolling KubeEdge in LFX 2023 Term 3 Sep-Nov projects
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
  programs/lfx-mentorship/2023/03-Sep-Nov/project_ideas.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1064 Meshery LFX Fall '23
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1067 Add Volcano Project Ideas for Fall LFX2023
  programs/lfx-mentorship/2023/03-Sep-Nov/project_ideas.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1065 Enrolling Vitess in LFX 2023 Term 3 Sep-Nov projects
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1068 Enrolling Volcano in LFX 2023 Term 3 Sep-Nov projects
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
  programs/lfx-mentorship/2023/03-Sep-Nov/project_ideas.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1069 docs: fix wrong term in LFX Mentorship 2023 Term 2-Jun-Aug
  programs/lfx-mentorship/README.md
Labels: lfx mentorship

#1071 2023-08-08 meeting minutes
  mentoring-wg/2023-meeting-minutes.md
Labels: 2023

#1072 Edit frouioui to florent in Vitess LFX application
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1074 Fix email address for `saschagrunert`
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
  programs/summerofcode/2023.md
Labels: summer of code, lfx mentorship, 2023, Term 3: Sept-Nov
