Repository cncf/mentoring, pull requests merged in 2023-01, with the labels that each got.

#756 Archiving the 2022 mentorship wg meeting minutes
  TAGCS-Mentoring-WG/2022-meeting-minutes.md
Labels: 2022

#757 create 2023 meeting minutes file
  TAGCS-Mentoring-WG/2023-meeting-minutes.md
Labels: 2023

#759 updating LFX Mentorship templates
  PROJECT_IDEA_TEMPLATE.md
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship

#765 docs: added capg project idea
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#764 Add KubeVela making addons proposal for LFX 2023 01-May-Mar
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#771 LFX internship proposal: Vitess VReplication testing framework
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#776 Adding GSoC 2023
  summerofcode/2023.md
  summerofcode/README.md
Labels: summer of code, 2023

#770 Add Cilium project idea
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#778 updating GSoC 2023
  summerofcode/2023.md
  summerofcode/README.md
Labels: summer of code, 2023

#772 Feat: add kubevela sdk auto-generation proposal
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#785 CNB profiling project for LFX spring 2023
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#767 Feat: add KubeVela auto-generator proposal for LFX 2023
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#781 [LFX] add KubeArmor proposed projects for Term 01-2023
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#787 Feat: add proposal for LFX 2023
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#789 Kubewarden LFX mentorship projects
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#790 Feat: add wasmedge lfx mentorship 2023-01
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#791 Add project ideas for Thanos
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#784 doc: added cluster api provider aws project
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#774 Adds Vitess's proposed project for LFX 2023 term 01-Mar-May
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#788 Adding LitmusChaos to LFX-23-Q1
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#794 add ideas of Karmada project for lfx Mar-May 2023
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May

#799 Kyverno mentorships
  lfx-mentorship/2023/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2023, Term 1: March-May
