Repository cncf/mentoring, pull requests merged in 2023-09, with the labels that each got.

#1075 Flux and WasmEdge details added
  programs/seasonofdocs/README.md
Labels: season of docs, 2023

#1078 Updating programs and stats page
  README.md
  programs/README.md
  programs/lfx-mentorship/2023/01-Mar-May/README.md
  programs/lfx-mentorship/2023/02-Jun-Aug/README.md
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
  programs/lfx-mentorship/README.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov, Term 1: March-May, Term 2: June-Aug

#1084 Update Jaeger mentors (moving Yash from one to another)
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
Labels: lfx mentorship, 2023, Term 3: Sept-Nov

#1081 Add lfx 2024 Term 1
  .github/labeler.yml
  programs/lfx-mentorship/2024/01-Mar-May/README.md
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, 2024

#1085 2023-09-12 meeting minutes
  mentoring-wg/2023-meeting-minutes.md
Labels: 2023
