Repository cncf/mentoring, pull requests merged in 2023-04, with the labels that each got.

#911 Add CoreDNS proposals
  summerofcode/2023.md
Labels: summer of code, 2023

#917 Add hyperlinks for Meshery projects
  summerofcode/2023.md
Labels: summer of code, 2023

#916 Correct Term-1 months in the table
  lfx-mentorship/README.md
Labels: lfx mentorship

#921 Updated Strimzi proposal co-mentor
  summerofcode/2023.md
Labels: summer of code, 2023

#899 Repo refactor PR
  README.md
  lfx-mentorship/2023/03-Sep-Nov/project_ideas.md
  mentees/README.md
  mentoring-wg/2022-meeting-minutes.md
  mentoring-wg/2023-meeting-minutes.md
  mentoring-wg/README.md
  mentoring-wg/communications.md
  mentoring-wg/gsoc-org-admin-guide.md
  mentoring-wg/org-admins.md
  mentors/README.md
  programs/README.md
  programs/archive/cross/README.md
  programs/lfx-mentorship/2019/README.md
  programs/lfx-mentorship/2020/q1/README.md
  programs/lfx-mentorship/2020/q1/project_ideas.md
  programs/lfx-mentorship/2020/q2/README.md
  programs/lfx-mentorship/2020/q2/project_ideas.md
  programs/lfx-mentorship/2020/q2/selected_projects.md
  programs/lfx-mentorship/2020/q3-q4/README.md
  programs/lfx-mentorship/2020/q3-q4/project_ideas.md
  programs/lfx-mentorship/2020/q3-q4/selected_projects.md
  programs/lfx-mentorship/2021/01-Spring/README.md
  programs/lfx-mentorship/2021/01-Spring/project_ideas.md
  programs/lfx-mentorship/2021/02-Summer/README.md
  programs/lfx-mentorship/2021/02-Summer/project_ideas.md
  programs/lfx-mentorship/2021/03-Fall/README.md
  programs/lfx-mentorship/2021/03-Fall/project_ideas.md
  programs/lfx-mentorship/2022/01-Spring/README.md
  programs/lfx-mentorship/2022/01-Spring/project_ideas.md
  programs/lfx-mentorship/2022/02-Summer/README.md
  programs/lfx-mentorship/2022/02-Summer/project_ideas.md
  programs/lfx-mentorship/2022/03-Sept-Nov/README.md
  programs/lfx-mentorship/2022/03-Sept-Nov/project_ideas.md
  programs/lfx-mentorship/2023/01-Mar-May/README.md
  programs/lfx-mentorship/2023/01-Mar-May/project_ideas.md
  programs/lfx-mentorship/2023/02-Jun-Aug/README.md
  programs/lfx-mentorship/2023/02-Jun-Aug/project_ideas.md
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
  programs/lfx-mentorship/2023/03-Sep-Nov/project_ideas.md
  programs/lfx-mentorship/README.md
  programs/lfx-mentorship/cb-mentors-evaluation-form.md
  programs/lfx-mentorship/payments/Linux Foundation Wire Transfer Form.pdf
  programs/lfx-mentorship/payments/payment_instructions.md
  programs/outreachy/README.md
  programs/program-statistics.md
  programs/seasonofdocs/README.md
  programs/seasonofdocs/previous-years/2020/README.md
  programs/seasonofdocs/previous-years/2021/README.md
  programs/summerofcode/2017.md
  programs/summerofcode/2018.md
  programs/summerofcode/2019.md
  programs/summerofcode/2020.md
  programs/summerofcode/2021.md
  programs/summerofcode/2022.md
  programs/summerofcode/2023.md
  programs/summerofcode/README.md
Labels: lfx mentorship, 2023, hold

#934 Update Hyperlink
  programs/lfx-mentorship/2023/02-Jun-Aug/README.md
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
Labels: lfx mentorship, 2023

#938 Fix link to GSoC 2023 program
  programs/summerofcode/README.md
Labels: summer of code

#945 Update project idea proposal link
  programs/lfx-mentorship/2023/03-Sep-Nov/README.md
Labels: lfx mentorship, 2023
