Repository cncf/mentoring, pull requests merged in 2023-06, with the labels that each got.

#1016 Updating mentoring wg meeting minutes
  mentoring-wg/2023-meeting-minutes.md
Labels: 2023

#1012 Updating 2022 term 3 & 2023 term 1 program stats
  README.md
  programs/README.md
  programs/lfx-mentorship/README.md
Labels: lfx mentorship, 2022

#1021 Update program maintainers for LFX
  programs/lfx-mentorship/README.md
Labels: lfx mentorship

#1023 2023-06-12 meeting minutes
  mentoring-wg/2023-meeting-minutes.md
Labels: 2023

#1026 Update README about term 1 lfx
  programs/lfx-mentorship/README.md
Labels: lfx mentorship
