Repository cncf/mentoring, pull requests merged in 2024-05, with the labels that each got.

#1213 Add project ideas for Kubescape
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1222 Update LFX README.md
  programs/lfx-mentorship/README.md
Labels: lfx mentorship

#1214 add KubeEdge project ideas for LFX Jun-Aug 2024
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1226 Add WasmEdge project idea for LFX 2024-02
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1229 Adding Knative website project
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1227 Proposal of KWOK project for LFX 2024 Jun-Aug
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1230 Add Image Signing From K8s RelEng
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1231 Proposal of OpenKruise project for LFX 2024 Jun-Aug
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1233 Add Prometheus OOO mentorship idea
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1236 Add Crossplane project ideas for LFX 2024 term 2
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1224 Add in-toto proposed project
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1225 Add TUF proposed project
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1220 Adding CNCF LFX 2024 Term 3 Sept-Nov
  programs/lfx-mentorship/2024/03-Sep-Nov/README.md
  programs/lfx-mentorship/2024/03-Sep-Nov/project_ideas.md
Labels: lfx mentorship, Term 3: Sept-Nov, 2024

#1238 KubeArmor project ideas for LFX 2024 Jun-Aug
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1228 Add in-toto project ideas for LFX 2024 Term 2
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1232 Proposal of KCL project for LFX 2024 Jun-Aug
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1234 Vitess community project for LFX 2024 Jun-Aug
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1239 Sort LFX projects alphabetically
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1241 fix: use parent issue for Knative website improvement project
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1237 Proposal for Copacetic Project for LFX 2024 Jun-Aug
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1243 Announce LFX Term 2 projects
  programs/lfx-mentorship/2024/02-Jun-Aug/README.md
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1244 LFX Summer 2024: CNCF TAG Network
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1242 Update LFX README.md
  programs/lfx-mentorship/README.md
Labels: lfx mentorship

#1245 LFX Summer 2024: Meshery
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1246 LFX Summer 2024: Service Mesh Performance
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1247 Proposal of Kubespray project for LFX 2024 Jun-Aug
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1248 Adding remaining LFX 2024 Term 2 projects to approved
  programs/lfx-mentorship/2024/02-Jun-Aug/README.md
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1249 Mentorship > Communication: clarify contacts, DOs and DON'Ts
  programs/lfx-mentorship/README.md
Labels: lfx mentorship
