Repository cncf/mentoring, pull requests merged in 2024-06, with the labels that each got.

#1251 Add Yash Sharma as mentor
  programs/lfx-mentorship/2024/01-Mar-May/README.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1252 Fix email on mentoring projects
  programs/lfx-mentorship/2024/02-Jun-Aug/README.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1253 Add Yash Sharma as mentor to Jaeger summer projects
  programs/lfx-mentorship/2024/02-Jun-Aug/README.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1258 [TUF] Use new terminology of docs analysis
  programs/lfx-mentorship/2024/02-Jun-Aug/README.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1259 Updating projects list with completed 2024 LFX Term 1 projects
  programs/README.md
  programs/lfx-mentorship/2024/03-Sep-Nov/README.md
  programs/lfx-mentorship/README.md
Labels: lfx mentorship, 2024

#1261 Update LFX-mentorship README.md
  programs/lfx-mentorship/README.md
Labels: lfx mentorship
