Repository cncf/mentoring, pull requests merged in 2024-04, with the labels that each got.

#1202 rectified application review dates (LFX-mentorship Term 2)
  programs/lfx-mentorship/2024/02-Jun-Aug/README.md
Labels: lfx mentorship, 2024

#1207 change @astencel-sumo to @andrzej-stencel
  programs/lfx-mentorship/2024/01-Mar-May/README.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1211 updating lfx 2024 term 2 dates to match better with GSoC calendar
  programs/lfx-mentorship/2024/02-Jun-Aug/README.md
Labels: lfx mentorship, 2024

#1212 Add Thanos LFX project idea for LFX Jun-Aug 2024
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, 2024

#1208 Add project ideas for Karmada
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1209 Proposal of Vitess/Arewefastyet project for LFX 2024 Jun-Aug
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1215 Add Knative Onboarding Research
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1210 Adds cilium project idea for LFX mentorship Jun-Aug 2024
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024

#1218 add prometheus remote write project for june 2024
  programs/lfx-mentorship/2024/02-Jun-Aug/project_ideas.md
Labels: lfx mentorship, Term 2: June-Aug, 2024
