Repository cncf/mentoring, pull requests merged in 2024-01, with the labels that each got.

#1114 Kick off GSoC 2024
  programs/summerofcode/2024.md
  programs/summerofcode/README.md
Labels: summer of code

#1099 Archiving GSoD
  README.md
  programs/archive/seasonofdocs/README.md
  programs/archive/seasonofdocs/previous-years/2020/README.md
  programs/archive/seasonofdocs/previous-years/2021/README.md
  programs/archive/seasonofdocs/previous-years/2023/README.md
  programs/seasonofdocs/README.md
Labels: season of docs, 2023

#1108 Add Jaeger projects for 2024 Term-1
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1111 Adds Vitess's proposed project for LFX 2024 term 01-Mar-May
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1112 LFX: Add Cilium Governance Project
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1118 LFX: Add Knative eventing project for March - May term
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1129 LFX mentorship: add Antrea project ideas
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1128 New Project Idea for Chaos Mesh: Observability for StressChaos
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1120 Add Prometheus client_golang project idea
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1121 LFX: Add KCL project for March - May term
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1123 Add WasmEdge project idea for LFX 2024-01
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1125 feat: add kubevela lfx mentoring issue
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1127 feat: add konveyor move2kube proposals for lfx 2024 march-may
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1122 LFX menthorship: add Kyverno project ideas
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1136 Add K8sGPT mentorship proposal
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1133 LFX: Add Kubearmor project for March - May term 2024
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1134 LFX Mentorship - OpenTelemetry - Mar 2024
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1135 LFX Mentorship - Inspektor Gadget - Mar 2024
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1132 LFX: Add Volcano project for 2024 March - May term
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1140 Fix Kubearmor issue link
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1139 Add 2024 lfx cnb project
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1124 add KubeEdge project ideas for LFX March - May term
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1141 Adding Harbor projects
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1142 Submitting LFX 2024 Term 1 Mar-May projects for LFX approval
  programs/lfx-mentorship/2024/01-Mar-May/README.md
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1144 Add knative ux project
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, hold, 2024

#1145 Adding OpenKruise project
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1146 add cri-o lfx project for term 1 2024
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1148 Meshery for LFX May-Mar 2024
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1149 cncf-tag-network-lfx-mar-may-2024
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1151 Submitting late LFX 2024 term 1 projects for LFX approval
  programs/lfx-mentorship/2024/01-Mar-May/README.md
  programs/lfx-mentorship/2024/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2024

#1152 Cilium: add sub project voting issue
  programs/lfx-mentorship/2024/01-Mar-May/README.md
Labels: lfx mentorship, Term 1: March-May, 2024
