Repository cncf/mentoring, pull requests merged in 2025-01, with the labels that each got.

#1316 updating stats for 2024 and prepping lfx 2025 term 1
  .github/labeler.yml
  .github/settings.yml
  programs/README.md
  programs/lfx-mentorship/README.md
Labels: lfx mentorship

#1318 Kick off GSoC 2025
  programs/summerofcode/2025.md
  programs/summerofcode/README.md
Labels: summer of code, 2025

#1314 Add Jaeger projects for 2025 Term 1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1320 [March-May 2025] Project Idea for Envoy Gateway
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1321 adding project idea for KubeStellar's UI
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1322 adding plans for LFX 2025 T2 & T3
  programs/lfx-mentorship/2025/02-Jun-Aug/README.md
  programs/lfx-mentorship/2025/02-Jun-Aug/project_ideas.md
  programs/lfx-mentorship/2025/03-Sep-Nov/README.md
  programs/lfx-mentorship/2025/03-Sep-Nov/project_ideas.md
Labels: lfx mentorship, Term 3: Sept-Nov, Term 2: June-Aug, 2025

#1324 Add WasmEdge project idea for lfx 2025 term 1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1326 Add project proposals for Prometheus
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1329 Add Inspektor Gadget projects for 2025 Term 1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1328 Add Karmada projects for 2025 LFX term1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1332 Add Headlamp projects for 2025 Term 1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1333 updating LFX 2025 T1 proposed issues formatting upstream issues
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1327 add LFX 2025 term1 Kmesh projects
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1330 Add Harbor projects for 2025 LFX Term 1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025
