Repository cncf/mentoring, pull requests merged in 2025-02, with the labels that each got.

#1334 Add Jaeger project for GSoC-25
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1336 add Istio Docs WG projects
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1331 [LFX Mentorship 2025 - Term 1] Add Istio mentorship project proposal
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1325 Add KubeEdge projects for 2025 LFX term1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1340 LFX: Add TUF project for Term 01
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1342 Moving first batch of 2024 LFX T1 projects to LFX platform
  programs/lfx-mentorship/2025/01-Mar-May/README.md
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1350 Second batch of LFX 2025 T1 projects loaded into LFX Platform
  programs/lfx-mentorship/2025/01-Mar-May/README.md
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, hold, 2025

#1352 adding upstream issue for KubeStellar UI project
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1338 LFX: Add Microcks projects for Term 01
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1339 LFX: Adding LitmusChaos projects for Term 01
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1341 LFX mentorship 2025_01: add Antrea project idea
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1344 Vitess: Added projects for LFX Mentorship Program 2025 Term 1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1347 feat: add knative projects for 2025 term 1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1353 Third batch of LFX 2025 T1 projects loaded into LFX Platform #1350
  programs/lfx-mentorship/2025/01-Mar-May/README.md
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1345 Thanos LFX 2025 Term 1 project idea
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1351 Add Project Idea for Envoy Gateway
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1348 Add kyverno project ideas for term Spring 25
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1335 LFX: Add Volcano project for Term 01 - 2025 March - May
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1355 correcting Thanos proposal
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1337 LFX: Add KCL projects for Term 01
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1343 LFX: Adding KubeArmor projects for Term 01
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1346 LFX: add openkruise idea for term 1
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1358 moving KCL, KubeArmor, OpenKruise to LFX platform
  programs/lfx-mentorship/2025/01-Mar-May/README.md
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, hold, 2025

#1361 split kubestellar into 6 projects
  programs/lfx-mentorship/2025/01-Mar-May/README.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1362 adding table of contents to LFX 2025 Term 1 Readme
  programs/lfx-mentorship/2025/01-Mar-May/README.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1365 update mentor email address
  programs/lfx-mentorship/2025/01-Mar-May/README.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1323 Add ORAS Java SDK GSoC 2025 mentorship idea
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1364 Enhancements for FAQ Chatbot for Vitess
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1366 update mentor email address
  programs/lfx-mentorship/2025/01-Mar-May/README.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1367 removing emeritus gsoc admins
  programs/summerofcode/README.md
Labels: summer of code

#1368 LFX 2025 Term 1: Meshery
  programs/lfx-mentorship/2025/01-Mar-May/README.md
  programs/lfx-mentorship/2025/01-Mar-May/project_ideas.md
Labels: lfx mentorship, Term 1: March-May, 2025

#1375 add WasmEdge GSoC 2025 project ideas
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1374 GSoC 2025: Adding LitmusChaos task for GSoC
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1373 Add etcd cache project
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1372 feat: add kcl project for GSoC
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1370 Add Harbor Ideas to GSOC 2025
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1377 Add TUF GSOC project idea
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1381 Update the etcd project description and add second mentor
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1379 GsoC 2025: Add Kubewarden proposal
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1380 GsoC 2025: Add KubeArmor proposal
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1369 [Kubebuilder]: Automating Operator Maintenance: Driving Better Results with Less Overhead
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1382 GSoC `25: Add Konveyor AI idea
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1383 GSoC 2025: Meshery
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1371 GSoC 2025: add an idea for Lima
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1385 added gsoc idea for KubeStellar
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1387 formatting, adding ToC, GSoC 2025
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1389 Updating LFX 2025 program dates/times
  programs/lfx-mentorship/2025/01-Mar-May/README.md
  programs/lfx-mentorship/2025/02-Jun-Aug/README.md
  programs/lfx-mentorship/2025/03-Sep-Nov/README.md
Labels: lfx mentorship, Term 3: Sept-Nov, Term 1: March-May, Term 2: June-Aug, 2025

#1388 GSoC 2025: Functions
  programs/summerofcode/2025.md
Labels: summer of code, 2025

#1378 Add @jku as 2nd mentor to LFX 1 TUF project
  programs/lfx-mentorship/2025/01-Mar-May/README.md
Labels: lfx mentorship, Term 1: March-May, hold, 2025
